# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment (Môi trường ảo)
venv/
.venv/
env/

# Environment Variables (File chứa mật khẩu - TUYỆT ĐỐI KHÔNG PUSH)
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# MacOS
.DS_Store